<!DOCTYPE html>
<html>
  <head>
    <title>Application Submitted</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}

    {% include 'banner.html' %}

    <div class='container'>
      
    <p>Your application for the role of <b>{{job['title']}}</b> at ABC Careers has been submitted.</p>

       <h4> Full Name  </h4>
      <div class = 'mb-2'> {{apply['full_name']}}</div>

       <h4> Email  </h4>
      <div class = 'mb-2'> {{apply['email']}}</div>

       <h4> LinkedIn URL  </h4>
      <div class = 'mb-2'> {{apply['linkedin_url']}}</div>

       <h4> Education  </h4>
      <div class = 'mb-2'> {{apply['education']}}</div>

       <h4> Work Experience </h4>
      <div class = 'mb-2'> {{apply['work_experience']}}</div>

      <h4> Resume URL </h4>
      <div class = 'mb-2'> {{apply['resume_url']}}</div>
      <a href ="/"> Back </a>
      
    </div>
     {% include 'footer.html' %}
  </body>
</html>