<!DOCTYPE html>
<html>
  <head>
    <title>Application Submitted</title>
    {% include 'bootstrap.html' %}
  </head>
  <style>
    h5{
      font-family : Calibri;
    }
  </style>
  <body>
    {% include 'nav.html' %}

    {% include 'banner.html' %}

    <div class='container'>
      
    <p style ="color: green;">Your application for the role of <b>{{job['title']}}</b> at ABC Careers has been submitted.</p></br>

       <h5> Full Name  </h5>
      <div class = 'mb-2'> {{apply['full_name']}}</div>

       <h5> Email  </h5>
      <div class = 'mb-2'> {{apply['email']}}</div>

       <h5> LinkedIn URL  </h5>
      <div class = 'mb-2'> {{apply['linkedin_url']}}</div>

       <h5> Education  </h5>
      <div class = 'mb-2'> {{apply['education']}}</div>

       <h5> Work Experience </h5>
      <div class = 'mb-2'> {{apply['work_experience']}}</div>

      <h5> Resume URL </h5>
      <div class = 'mb-2'> {{apply['resume_url']}}</div>
      <a href ="/"> Back </a>
      
    </div>
     {% include 'footer.html' %}
  </body>
</html>