<h4 style = " text-align: center;
"> Application Form</h4>
<style>
  .txt{
    width : 500px;
  }
  label{
    font-family: Calibri;
  }
  span {
    color : red;
  }
  
</style>
<div>
<form action = "/job/{{job['id']}}/apply" method = "post">
 

  <div class ='mb-2'>
  <label> Full Name</label><br>
  <input type = "text" name = "full_name" class= 'txt' placeholder = "John Carthy" required><span> *</span>
    
 </div>

  <div class = 'mb-2'>
  <label> Email</label><br>
  <input type = "text" name = "email" class= 'txt' placeholder = "john@carthy.com" required><span> *</span>
  </div>

  <div class ='mb-2'>
  <label> LinkedIn URL</label><br>
  <input type = "text" name = "linkedin_url" class= 'txt' placeholder = "https://linked.con/on/johncarthy" required><span> *</span>
    </div>

   <div class ='mb-2'>
  <label> Education</label><br>
 <textarea name = "education" class= 'txt' placeholder = "B.Tech" required></textarea><span> *</span>
    </div>

     <div class ='mb-2'>
  <label> Work Experience</label><br>
 <textarea name = "work_experience" class= 'txt' placeholder = "Python" required></textarea><span> *</span>
    </div>

    <div class ='mb-2'>
  <label> Resume URL</label><br>
  <input type = "text" name = "resume_url" class= 'txt' placeholder = "https://john-resume" required><span> *</span>
    </div>
</br>
  <input type ="submit" >
</div>
</form>