<h4> Application Form</h4>

<form action = "/job/{{job['id']}}/apply" method = "post">
  <div class ='mb-2'>
  <label> Full Name</label><br>
  <input type = "text" name = "full_name" placeholder = "John Carthy">
 </div>

  <div class = 'mb-2'>
  <label> Email</label><br>
  <input type = "text" name = "email" placeholder = "john@carthy.com">
  </div>

  <div class ='mb-2'>
  <label> LinkedIn URL</label><br>
  <input type = "text" name = "linkedin" placeholder = "https://linked.con/on/johncarthy">
    </div>

   <div class ='mb-2'>
  <label> Education</label><br>
 <textarea name = "education"></textarea>
    </div>

     <div class ='mb-2'>
  <label> Work Experience</label><br>
 <textarea name = "experience"></textarea>
    </div>

    <div class ='mb-2'>
  <label> Resume URL</label><br>
  <input type = "text" name = "resume">
    </div>

  <input type ="submit" name = "submit">
</form>